<h2> Este es el listado de peliculas:</h2>
<section>
{{#each response}}
<img src='{{image}}' alt='movie' width='250px' height="250px" />
<p>{{title}}</p>
<a href="/details/{{id}}">See more</a>
<br>
{{/each}}
</section>